.content {
  padding-top: 5px;
}

.content-div {
  width: 100%;
}

.sublist-body {
  width: 100%;
}

.list-body {
  width: 80%;
  max-width: 1000px;


  position: relative;

  top: 30px;


  height: min-content;

  margin-left: auto;
  margin-right: auto;
}
